/* Variables para fácil personalización */
:root {
    --primary-color: #4CAF50; /* Verde */
    --secondary-color: #2c3e50; /* Azul oscuro */
    --background-color: #34495e; /* Fondo principal */
    --nav-color: #6c757d; /* Fondo principal */
    --text-color: #ecf0f1; /* Texto claro */
    --text-color2: #bdc3c7;; /* Texto claro */
    --card-bg: #495057; /* Fondo de tarjeta */
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    background: var(--background-color) ;/*#dce7f3;*/
    margin: 0;
    padding: 0;
    box-shadow: var(--shadow);
}

header {
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 30px 20px; /*1em 0;*/
    box-shadow: var(--shadow);
}

nav {
    display: flex;
    justify-content: center;
    background: var(--card-bg);
    box-shadow: var(--shadow);
}

nav button {
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 1em;
    cursor: pointer;
}

nav button.active {
    background: var(--nav-color);
}

section {
    display: none;
    padding: 2em;
    box-shadow: var(--shadow);
}

section.active {
    display: block;
}

#tabla-articulos{

    
    /* display: flex; */
    background: var(--primary-color);
    box-shadow: var(--shadow);}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    background: var(--primary-color);
    box-shadow: var(--shadow);
}

th,
td {
    padding: 0.5em;
    border: 1px solid var(--text-color);
    text-align: left;
}

form {
    margin-top: 1em;
    box-shadow: var(--shadow);
}

input,
select {
    padding: 0.5em;
    margin-right: 0.5em;
    
}

button.crud {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    box-shadow: var(--shadow);
}

button.delete {
    background: #dc3545;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color2);
    font-size: 0.9em;
}